﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rush Hour @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rush Hour", "Index", "Appointments", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Appointments", "Index", "Appointments", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Activities", "Index", "Activities", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Calendar", "Calendar", "Appointments", new { area = "" }, new { @class = "navbar-brand" })

                @if (HttpContext.Current.Session["LoggedUser"] != null)
                {
                    @Html.ActionLink("Logout", "Logout", "Users", new { area = "" }, new { @class = "navbar-brand" })
                }
                @if (HttpContext.Current.Session["LoggedUser"] == null)
                {
                    @Html.ActionLink("Login", "Login", "Users", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rush Hour</p>
        </footer>
    </div>

    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>