﻿@model IEnumerable<RushHour.Web.ViewModels.UserViewModel.UserBaseViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="display" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>

</table>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.foundation.min.css" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css" />

@section Scripts{

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.foundation.min.js"></script>
        <script>

            $("#document").ready(function () {
                $('#myTable').DataTable({
                    ajax: {
                        url: "/Users/LoadData",
                        type: "GET",
                        datatype: "json"
                    },
                    columns: [
                        { "data": "Email" },
                        { "data": "Name" },
                        { "data": "Phone" },
                        {
                            "data": "Id",
                            render: function (id) {
                                return '<a class="btn btn-info" href=/Users/Edit/' + id + '> Edit </a> | <a class="btn btn-danger" href= /Users/Delete/' + id + ' > Delete </a>';
                            }
                        }

                    ]
                });
            });
        </script>
   }
